<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rich Medical | Coming Soon</title>
    <!-- Stylesheets -->
    <link href="~/Content/Public/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Public/style.css" rel="stylesheet" />
    <link href="~/Content/Public/responsive.css" rel="stylesheet" />

    <!-- Color Switcher Mockup -->
    <link href="~/Content/Public/color-switcher-design.css" rel="stylesheet" />

    <!-- Color Themes -->
    <link href="~/Content/Public/color-themes/default-theme.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Rubik:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="~/Content/Public/Images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/Content/Public/Images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <style id="clock-animations"></style>
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- Coming Soon -->
        <section class="coming-soon" style="        background-image: url(/Content/Public/Images/RichBackground.png)">
            <div class="content">
                <div class="content-inner">
                    <div class="auto-container">
                      
                        <div class="logo"><a href="#"><img src="~/Content/Public/Images/RichLogo2.png" width="190" alt="" /></a></div>
                        <div class="sec-title"><h2>Coming Soon</h2></div>
                        <div class="time-counter">
                            <!-- Time Countdown -->
                            <div class="time-countdown clearfix" data-countdown="2021/08/12"></div>

                            <!-- Clock / Bg Clock -->
                            <div class="clock-wrapper">
                                <div class="clock-base">
                                    <div class="click-indicator">
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                        <div><span></span></div>
                                    </div>
                                    <div class="clock-hour"></div>
                                    <div class="clock-minute"></div>
                                    <div class="clock-second"></div>
                                    <div class="clock-center"></div>
                                </div>
                            </div>
                        </div>
                        <!--Emailed Form-->
                        <div class="emailed-form">
                            <h3>Our Website is under construction.</h3>
                            <div class="text">stay tuned for something amazing! </div>
                            
                                @RenderBody()
                                
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- End Coming Soon -->

    </div>
    <!--End pagewrapper-->
    <!-- Color Palate / Color Switcher -->
    

    <!-- Search Popup -->
    
    <!-- End Header Search -->
    <!-- Scroll To Top -->
    <div class="back-to-top scroll-to-target show-back-to-top" data-target="html">TOP</div>
    <script src="~/Scripts/Public/jquery.js"></script>
    <script src="~/Scripts/Public/popper.min.js"></script>
    <script src="~/Scripts/Public/bootstrap.min.js"></script>
    <script src="~/Scripts/Public/jquery.fancybox.js"></script>
    <script src="~/Scripts/Public/appear.js"></script>
    <script src="~/Scripts/Public/parallax.min.js"></script>
    <script src="~/Scripts/Public/tilt.jquery.min.js"></script>
    <script src="~/Scripts/Public/jquery.paroller.min.js"></script>
    <script src="~/Scripts/Public/owl.js"></script>
    <script src="~/Scripts/Public/wow.js"></script>
    <script src="~/Scripts/Public/nav-tool.js"></script>
    <script src="~/Scripts/Public/jquery-ui.js"></script>
    <script src="~/Scripts/Public/jquery.countdown.js"></script>
    <script src="~/Scripts/Public/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/Public/script.js"></script>
    <script src="~/Scripts/Public/color-settings.js"></script>

</body>
</html>